.button {
  font-family: 'Inter';
  width: fit-content;
  padding: 0.5rem;
  border-radius: 1rem;
  color: rgb(246, 246, 246);
  background-color: rgb(70, 70, 70);
  font-size: var(--font-small);
}

@media (hover: hover) {
  .button:hover {
    transition: transform 0.2s ease;
    transform: scale(1.1);
  }
}
