.dropdownDiv {
  position: absolute;
}

.dropdownDiv img {
  aspect-ratio: 1/1;
  height: 100%;
}

.dropdownDiv ul {
  position: absolute;
  top: 100%;
  left: 0;
}

.dropdownDiv li {
  cursor: pointer;
  background-color: rgb(70, 70, 70);
  padding: 0.5rem;
  border: 0.05rem solid transparent;
}

.dropdownDiv li p {
  white-space: nowrap;
}

@media (hover: hover) {
  .dropdownDiv li:hover {
    border-color: rgb(130, 130, 130);
  }
}
