.dropdownDiv {
  position: absolute;
}

.dropdownDiv > img {
  aspect-ratio: 1/1;
  height: 100%;
}

.dropdownDiv > p {
  width: fit-content;
}

.dropdownDiv > ul {
  position: absolute;
  top: 100%;
  left: 0;
}

.dropdownDiv > ul > li {
  cursor: pointer;
  background-color: rgb(70, 70, 70);
  padding: 0.5rem;
  border: 0.05rem solid transparent;
}

.dropdownDiv > ul > li > p {
  white-space: nowrap;
}

@media (hover: hover) {
  .dropdownDiv > ul > li:hover {
    border-color: rgb(130, 130, 130);
  }
}
