* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

html {
  font-size: 1em;
}

@media (min-width: 2560px) {
  html {
    font-size: 1.5em;
  }
}

@media (min-width: 3860px) {
  html {
    font-size: 2em;
  }
}

@media ((max-width: 768px)) {
  html {
    font-size: 0.75em;
  }
}

:root {
  --font-small: clamp(0.875rem, 1dvw, 1rem);
  --font-medium: clamp(1rem, 1.25dvw, 1.25rem);
  --font-large: clamp(1.25rem, 1.5dvw, 1.5rem);
}

p,
h1 {
  font-family: 'Inter';
  color: rgb(246, 246, 246);
}

p {
  font-size: var(--font-medium);
}

h1 {
  font-size: var(--font-large);
}

ul {
  list-style: none;
}

img {
  object-fit: contain;
  user-select: none;
}

button {
  user-select: none;
  cursor: pointer;
}
